<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kania.mytestlist">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogFragmentTest.DialogFragmentTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Tempet.TempletActivity" />
        <activity android:name=".ThemeColorTest.ThemeColorTestActivity" />
        <activity android:name=".RunningAppTest.RunningAppTestActivity" />
        <activity
            android:name=".BroadcastReceiverTest.BroadcastReceiverTestActivity"
            android:launchMode="singleTask" />

        <receiver
            android:name=".BroadcastReceiverTest.MyTestReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.lge.exchange.action.CHECK_PERMISSIONS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MultiWindowTest.MultiWindowTestActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" />
        <activity android:name=".HandlerTest.HandlerTestActivity"></activity>
    </application>

</manifest>